<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>

	<profiles>
		<profile>
			<id>travis-ossrh</id>			
			<properties>
           		<gpg.publicKeyring>deploy/pubring.gpg</gpg.publicKeyring>
           		<gpg.secretKeyring>deploy/secring.gpg</gpg.secretKeyring>
           		<gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
           		<gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
                <org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener>warn</org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener>
			</properties>
		</profile>
	</profiles>
</settings>